{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h4>Sell Stock</h4>
    <form action="/sell" method="post">
        <table class="mb-3">
            <tr>
                <td><select name="symbol" class="selling" class="form-control mx-auto w-auto">
                        <option disabled selected class>Select Symbol</option>
                        {% for stock in stocks %}
                        <option>{{ stock["symbol"] }}</option>
                        {% endfor %}
                    </select></td>
                <td><input required type="text" class="form-control mx-auto w-auto" name="shares" autocomple="off" autofocus placeholder="Number Of Shares"></td>
                <td><button class="btn btn-primary" type="submit">Sell</button></td>
            </tr>
        </table>
    </form>
{% endblock %}

